html, body {
    height: 100%;
    margin: 0;
    font-family: 'Georgia', 'sans-serif' !important;
    color: #454C36;
}
img{
    width: 300px;
    height: 300px;
}
.wrapper {
    min-height: 73.6%;
}
.footer,
.push {
    height: 45px;
}
.form-signin{
    max-width: 350px;
}
.error{
    color: red;
}
.bi {
    vertical-align: -.125em;
    fill: currentColor;
}
.categories-list .card {
    transition-duration: 0.5s;
}
.categories-list a {
    text-decoration: none;
}
.categories-list .card:hover {
    background-color: rgb(143, 166, 144);
    transform: scale(1.01);
}
.main_page{
    height: 100%;
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), url("/static/images/background.jpg");
}

 .bd-placeholder-img {
     font-size: 1.125rem;
     text-anchor: middle;
     -webkit-user-select: none;
     -moz-user-select: none;
     user-select: none;
 }

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}


/*------------------------------------
- COLOR success
------------------------------------*/
.alert-success {
    color: #526753;
    /*background-color: #100100100;*/
    border-color: #f5f7f5;
}

.alert-success hr {
    border-top-color: #e7ece7;
}

.alert-success .alert-link {
    color: #3c4b3c;
}

.badge-success {
    color: #212529;
    background-color: #8FA690;
}

.badge-success[href]:hover, .badge-success[href]:focus {
    color: #212529;
    background-color: #728f73;
}

.bg-success {
    background-color: #8FA690 !important;
}

a.bg-success:hover, a.bg-success:focus,
button.bg-success:hover,
button.bg-success:focus {
    background-color: #728f73 !important;
}

.border-success {
    border-color: #8FA690 !important;
}

.btn-success {
    color: #212529;
    background-color: #8FA690;
    border-color: #8FA690;
}

.btn-success:hover {
    color: #212529;
    background-color: #7b967c;
    border-color: #728f73;
}

.btn-success:focus, .btn-success.focus {
    box-shadow: 0 0 0 0.2rem rgba(143, 166, 144, 0.5);
}

.btn-success.disabled, .btn-success:disabled {
    color: #212529;
    background-color: #8FA690;
    border-color: #8FA690;
}

.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active, .show > .btn-success.dropdown-toggle {
    color: #212529;
    background-color: #728f73;
    border-color: #6b876c;
}

.btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus, .show > .btn-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(143, 166, 144, 0.5);
}

.btn-outline-success {
    color: #8FA690;
    background-color: transparent;
    border-color: #8FA690;
}

.btn-outline-success:hover {
    color: #212529;
    background-color: #8FA690;
    border-color: #8FA690;
}

.btn-outline-success:focus, .btn-outline-success.focus {
    box-shadow: 0 0 0 0.2rem rgba(143, 166, 144, 0.5);
}

.btn-outline-success.disabled, .btn-outline-success:disabled {
    color: #8FA690;
    background-color: transparent;
}

.btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active, .show > .btn-outline-success.dropdown-toggle {
    color: #212529;
    background-color: #8FA690;
    border-color: #8FA690;
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus, .btn-outline-success:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(143, 166, 144, 0.5);
}

.list-group-item-success {
    color: #526753;
    background-color: #f5f7f5;
}

.list-group-item-success.list-group-item-action:hover, .list-group-item-success.list-group-item-action:focus {
    color: #526753;
    background-color: #e7ece7;
}

.list-group-item-success.list-group-item-action.active {
    color: #212529;
    background-color: #526753;
    border-color: #526753;
}

.table-success,
.table-success > th,
.table-success > td {
    background-color: #f5f7f5;
}

.table-hover .table-success:hover {
    background-color: #e7ece7;
}

.table-hover .table-success:hover > td,
.table-hover .table-success:hover > th {
    background-color: #e7ece7;
}

.text-success {
    color: #8FA690 !important;
}

a.text-success:hover, a.text-success:focus {
    color: #728f73 !important;
}


/*------------------------------------
        - COLOR secondary
        ------------------------------------*/
.alert-secondary {
    color: #0d110c;
    background-color: #aabfa4;
    border-color: #9fb698;
}

.alert-secondary hr {
    border-top-color: #91ac89;
}

.alert-secondary .alert-link {
    color: #000000;
}

.badge-secondary {
    color: #fff;
    background-color: #45593F;
}

.badge-secondary[href]:hover, .badge-secondary[href]:focus {
    color: #fff;
    background-color: #2d3b29;
}

.bg-secondary {
    background-color: #45593F !important;
}

a.bg-secondary:hover, a.bg-secondary:focus,
button.bg-secondary:hover,
button.bg-secondary:focus {
    background-color: #2d3b29 !important;
}

.border-secondary {
    border-color: #45593F !important;
}

.btn-secondary {
    color: #fff;
    background-color: #45593F;
    border-color: #45593F;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #344430;
    border-color: #2d3b29;
}

.btn-secondary:focus, .btn-secondary.focus {
    box-shadow: 0 0 0 0.2rem rgba(69, 89, 63, 0.5);
}

.btn-secondary.disabled, .btn-secondary:disabled {
    color: #fff;
    background-color: #45593F;
    border-color: #45593F;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #2d3b29;
    border-color: #263223;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(69, 89, 63, 0.5);
}

.btn-outline-secondary {
    color: #45593F;
    background-color: transparent;
    border-color: #45593F;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #45593F;
    border-color: #45593F;
}

.btn-outline-secondary:focus, .btn-outline-secondary.focus {
    box-shadow: 0 0 0 0.2rem rgba(69, 89, 63, 0.5);
}

.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
    color: #45593F;
    background-color: transparent;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active, .show > .btn-outline-secondary.dropdown-toggle {
    color: #fff;
    background-color: #45593F;
    border-color: #45593F;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(69, 89, 63, 0.5);
}

.list-group-item-secondary {
    color: #0d110c;
    background-color: #9fb698;
}

.list-group-item-secondary.list-group-item-action:hover, .list-group-item-secondary.list-group-item-action:focus {
    color: #0d110c;
    background-color: #91ac89;
}

.list-group-item-secondary.list-group-item-action.active {
    color: #fff;
    background-color: #0d110c;
    border-color: #0d110c;
}

.table-secondary,
.table-secondary > th,
.table-secondary > td {
    background-color: #9fb698;
}

.table-hover .table-secondary:hover {
    background-color: #91ac89;
}

.table-hover .table-secondary:hover > td,
.table-hover .table-secondary:hover > th {
    background-color: #91ac89;
}

.text-secondary {
    color: #45593F !important;
}

a.text-secondary:hover, a.text-secondary:focus {
    color: #2d3b29 !important;
}

/*------------------------------------
- COLOR primary
------------------------------------*/
.alert-primary {
    color: #1f2819;
    background-color: #c2d1b6;
    border-color: #b7c9aa;
}

.alert-primary hr {
    border-top-color: #aabf9a;
}

.alert-primary .alert-link {
    color: #070805;
}

.badge-primary {
    color: #fff;
    background-color: #5B7349;
}

.badge-primary[href]:hover, .badge-primary[href]:focus {
    color: #fff;
    background-color: #425335;
}

.bg-primary {
    background-color: #5B7349 !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
    background-color: #425335 !important;
}

.border-primary {
    border-color: #5B7349 !important;
}

.btn-primary {
    color: #fff;
    background-color: #5B7349;
    border-color: #5B7349;
}

.btn-primary:hover {
    color: #fff;
    background-color: #495d3b;
    border-color: #425335;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(91, 115, 73, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #5B7349;
    border-color: #5B7349;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #425335;
    border-color: #3a4a2f;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(91, 115, 73, 0.5);
}

.btn-outline-primary {
    color: #5B7349;
    background-color: transparent;
    border-color: #5B7349;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #5B7349;
    border-color: #5B7349;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(91, 115, 73, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #5B7349;
    background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #5B7349;
    border-color: #5B7349;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(91, 115, 73, 0.5);
}

.list-group-item-primary {
    color: #1f2819;
    background-color: #b7c9aa;
}

.list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus {
    color: #1f2819;
    background-color: #aabf9a;
}

.list-group-item-primary.list-group-item-action.active {
    color: #fff;
    background-color: #1f2819;
    border-color: #1f2819;
}

.table-primary,
.table-primary > th,
.table-primary > td {
    background-color: #b7c9aa;
}

.table-hover .table-primary:hover {
    background-color: #aabf9a;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
    background-color: #aabf9a;
}

.text-primary {
    color: #5B7349 !important;
}

a.text-primary:hover, a.text-primary:focus {
    color: #425335 !important;
}

a {
    color: #1f2819; !important;
}


/*------------------------------------
- COLOR light
------------------------------------*/
/*.alert-light {*/
/*    color: #d3b57c;*/
/*    background-color: #12513f170;*/
/*    border-color: #11f136161;*/
/*}*/

/*.alert-light hr {*/
/*    border-top-color: #11912b14e;*/
/*}*/

.alert-light .alert-link {
    color: #c69f55;
}

.badge-light {
    color: #212529;
    background-color: #F2E9D8;
}

.badge-light[href]:hover, .badge-light[href]:focus {
    color: #212529;
    background-color: #e5d3b1;
}

.bg-light {
    background-color: #F2E9D8 !important;
}

a.bg-light:hover, a.bg-light:focus,
button.bg-light:hover,
button.bg-light:focus {
    background-color: #e5d3b1 !important;
}

.border-light {
    border-color: #F2E9D8 !important;
}

.btn-light {
    color: #212529;
    background-color: #F2E9D8;
    border-color: #F2E9D8;
}

.btn-light:hover {
    color: #212529;
    background-color: #e9d9bd;
    border-color: #e5d3b1;
}

.btn-light:focus, .btn-light.focus {
    box-shadow: 0 0 0 0.2rem rgba(242, 233, 216, 0.5);
}

.btn-light.disabled, .btn-light:disabled {
    color: #212529;
    background-color: #F2E9D8;
    border-color: #F2E9D8;
}

.btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active, .show > .btn-light.dropdown-toggle {
    color: #212529;
    background-color: #e5d3b1;
    border-color: #e1cca6;
}

.btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus, .show > .btn-light.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(242, 233, 216, 0.5);
}

.btn-outline-light {
    color: #F2E9D8;
    background-color: transparent;
    border-color: #F2E9D8;
}

.btn-outline-light:hover {
    color: #212529;
    background-color: #F2E9D8;
    border-color: #F2E9D8;
}

.btn-outline-light:focus, .btn-outline-light.focus {
    box-shadow: 0 0 0 0.2rem rgba(242, 233, 216, 0.5);
}

.btn-outline-light.disabled, .btn-outline-light:disabled {
    color: #F2E9D8;
    background-color: transparent;
}

.btn-outline-light:not(:disabled):not(.disabled):active, .btn-outline-light:not(:disabled):not(.disabled).active, .show > .btn-outline-light.dropdown-toggle {
    color: #212529;
    background-color: #F2E9D8;
    border-color: #F2E9D8;
}

.btn-outline-light:not(:disabled):not(.disabled):active:focus, .btn-outline-light:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-light.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(242, 233, 216, 0.5);
}

/*.list-group-item-light {*/
/*    color: #d3b57c;*/
/*    background-color: #11f136161;*/
/*}*/

/*.list-group-item-light.list-group-item-action:hover, .list-group-item-light.list-group-item-action:focus {*/
/*    color: #d3b57c;*/
/*    background-color: #11912b14e;*/
/*}*/

.list-group-item-light.list-group-item-action.active {
    color: #212529;
    background-color: #d3b57c;
    border-color: #d3b57c;
}

/*.table-light,*/
/*.table-light > th,*/
/*.table-light > td {*/
/*    background-color: #11f136161;*/
/*}*/

/*.table-hover .table-light:hover {*/
/*    background-color: #11912b14e;*/
/*}*/

/*.table-hover .table-light:hover > td,*/
/*.table-hover .table-light:hover > th {*/
/*    background-color: #11912b14e;*/
/*}*/

.text-light {
    color: #F2E9D8 !important;
}

a.text-light:hover, a.text-light:focus {
    color: #e5d3b1 !important;
}



